$theme-color-deep: #495A62;
$theme-color-deep-hover: #7b929d;
$theme-color-lighter: #F2F3F7;
$theme-color-lightest: #fff;


$primary-bg-color: #F6F7F9;

$primary-border-color: #E3E4E6;

$sidebar-bg-color: $theme-color-deep;
$sidebar-font-color: $theme-color-lighter;