@import "./style/colors.scss";
.app {
  width: 100vw;
  // height: 100vh;
  background-color: $primary-bg-color;
  overflow-y: hidden;
  overflow-x: hidden;
  @media screen and (max-width: 1331px) {
    overflow-y: auto;
    overflow-x: auto;
  }
  @media screen and (max-width: 1026px) {
    // overflow-y: hidden;
    overflow-x: hidden;
  }
}
body {
  margin: 0;
  padding: 0;
}
